<table>
    <thead>
        <tr>
            {% for column in table.columns %}
                <th>{{ column.label }}</th>
            {% endfor %}
            {% if table.controls|length > 0 %}
                <th class="controls"></th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for row in table.data %}
            <tr>
                {% for column in table.columns %}
                    <td>{{ column.value(row) }}</td>
                {% endfor %}
                
                {% if table.controls|length > 0 %}
                    <td class="controls">
                        {% for control in table.controls %}
                            {% if control.visible(row) %}
                                <a class="tiny button radius" href="{{ control.route ? path(control.route, control.routeParameters(row)) : '#' }}">{{ control.label }}</a>
                            {% endif %}
                        {% endfor %}
                    </td>
                {% endif %}
                
            </tr>
        {% endfor %}
    </tbody>
</table>