{% extends 'NonchanCoreBundle:Default:base.html.twig' %}

{% import 'NonchanCoreBundle:Macros:meta.html.twig' as meta %}

{% block meta_title -%}
    {{ meta.title('Create ' ~ definition.name|capitalize) }}
{%- endblock %}

{% block content %}
    
    <div class="row">
        <div class="large-12 column">
            
            <h3>Create {{ definition.name|capitalize }}</h3>
    
            {% form_theme form 'NonchanCoreBundle:Form:form.html.twig' %}
            {{ form(form) }}
            
        </div>
    </div>
    
{% endblock %}