{% extends 'NonchanCoreBundle:Default:base.html.twig' %}

{% import 'NonchanCoreBundle:Macros:meta.html.twig' as meta %}

{% block meta_title -%}
    {{ meta.title('Delete ' ~ definition.name|capitalize) }}
{%- endblock %}

{% block content %}
    
    <div class="row">
        <div class="large-12 column">
            
            <h3>Delete {{ definition.name|capitalize }}</h3>
            
            <p>Are you sure you want to delete this {{ definition.name }}?</p>
            
            <p>
                <a href="{{ confirm_url }}" class="button alert">Yes</a>
                <a href="{{ cancel_url }}" class="button">No</a>
            </p>
    
        </div>
    </div>
    
{% endblock %}