{% extends 'NonchanCoreBundle:Default:base.html.twig' %}

{% import 'NonchanCoreBundle:Macros:meta.html.twig' as meta %}

{% block meta_title -%}
    {{ meta.title(definition.namePlural|capitalize) }}
{%- endblock %}

{% block content %}
    
    <div class="row">
        <div class="large-12 column">
            
            <h3>{{ definition.namePlural|capitalize }}</h3>
            
            {% if can_create %}
                <a href="{{ path('nonchan_crud_create', {name: definition.name}) }}" class="button small radius">Create {{ definition.name|capitalize }}</a>
            {% endif %}
            
            {% include 'NonchanCoreBundle:Table:table.html.twig' with {table: table} %}
            
        </div>
    </div>
    
{% endblock %}