{% block form_start %}
{% spaceless %}
    {% set method = method|upper %}

    {% if method in ["GET", "POST"] %}
        {% set form_method = method %}
    {% else %}
        {% set form_method = "POST" %}
    {% endif %}

    {% set attr = attr|merge({'novalidate': 'novalidate'}) %}

    <form name="{{ form.vars.name }}" method="{{ form_method|lower }}" action="{{ action }}"{% for attrname, attrvalue in attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}{% if multipart %} enctype="multipart/form-data"{% endif %}>
    {% if form_method != method %}
        <input type="hidden" name="_method" value="{{ method }}" />
    {% endif %}
{% endspaceless %}
{% endblock form_start %}

{% macro form_label_text(form) -%}
{% spaceless %}
    {% if form.vars.label is empty %}
        {% set label = form.vars.name|humanize %}
    {% else %}
        {% set label = form.vars.label %}
    {% endif %}
    {{ label|trans({}, form.vars.translation_domain) }}

{% endspaceless %}
{%- endmacro %}

{% macro form_label_start(form) -%}
{% spaceless %}

    {% set label_attr = form.vars.label_attr %}

    {% if not form.vars.compound %}
        {% set label_attr = label_attr|merge({'for': form.vars.id}) %}
    {% endif %}

    {% if form.vars.required %}
        {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
    {% endif %}

    <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>

{% endspaceless %}
{%- endmacro %}

{% macro form_label_end(form) -%}
{% spaceless %}
    </label>
{% endspaceless %}
{%- endmacro %}

{% block form_row -%}
{% spaceless %}

    {% set inset_label = false %}
    {% if
        'text' in form.vars.block_prefixes or
        'textarea' in form.vars.block_prefixes or
        'choice' in form.vars.block_prefixes
    %}
        {% set inset_label = true %}
    {% endif %}

    <div class="row">
        <div class="large-12 columns">
            {% if inset_label %}
                {{ _self.form_label_start(form) }}
                    {{ _self.form_label_text(form) }}
                    {{ form_widget(form) }}
                {{ _self.form_label_end(form) }}
            {% else %}
                {{ form_label(form) }}
                {{ form_widget(form) }}
            {% endif %}
            
            {{ form_errors(form) }}
            
        </div>
    </div>
{% endspaceless %}
{%- endblock form_row %}

{% block form_label -%}
{% spaceless %}
    {% if label is not sameas(false) %}
        
        {{ _self.form_label_start(form) }}
        {{ _self.form_label_text(form) }}
        {{ _self.form_label_end(form) }}
        
    {% endif %}
{% endspaceless %}
{%- endblock form_label %}