<div class="off-canvas-wrap" data-offcanvas>
    <div class="inner-wrap">
        <nav class="tab-bar">
            <section class="left-small">
                <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
            </section>

            <section class="middle tab-bar-section">
                <h1 class="title">Title</h1>
            </section>

        </nav>

        <aside class="left-off-canvas-menu">
            <ul class="off-canvas-list">
                
                {% if app.user %}
                    <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
                {% endif %}
                
                <li><a href="{{ path('nonchan_homepage') }}">Board</a></li>
                
                {% if app.user and app.user.isAdmin %}
                    <li><label>Admin</label></li>
                    {% for definition in crud_registry.definitions %}
                        <li>
                            <a href="{{ path('nonchan_crud_list', {name: definition.name}) }}">{{ definition.namePlural|capitalize }}</a>
                        </li>
                    {% endfor %}
                {% endif %}
                
                
            </ul>
        </aside>

        <section class="main-section">