.button{
    background-color: $palette-bg-medium;
    color: $palette-primary;
}

table{
    width: 100%;
    
    td > .button{
        margin-bottom: 0;
    }
        
    td.controls, th.controls{
        text-align: right;
    }
    
}