{%- import 'NonchanCoreBundle:Macros:meta.html.twig' as meta -%}

<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >

    <head>
        {% block head %}
            
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>
                {%- block meta_title -%}
                    {{ meta.title() }}
                {%- endblock -%}
            </title>
            
            {% block stylesheets %}

                {% stylesheets
                    "../vendor/necolas/normalize.css/normalize.css"
                    "@NonchanCoreBundle/Resources/scss/app.scss"
                    filter="scssphp,?yui_css"
                %}
                    <link rel="stylesheet" href="{{ asset_url }}" />
                {% endstylesheets %}
                
            {% endblock %}
            
        {% endblock %}
    </head>
    <body>
        {% block body %}
            
            {{ render_esi(controller('NonchanCoreBundle:Navigation:offCanvasStart')) }}
            
            {% block content %}
                <div style="height: 600px"></div>
            {% endblock %}
            
            {{ render_esi(controller('NonchanCoreBundle:Navigation:offCanvasEnd')) }}
            
            {% block javascripts %}
        
                {% javascripts
                    '../vendor/modernizr/modernizr/modernizr.js'
                    '../vendor/jquery/jquery/dist/jquery.js'
                    '../vendor/zurb/foundation/js/foundation/foundation.js'
                    '../vendor/zurb/foundation/js/foundation/foundation.offcanvas.js'
                    'bundles/fosjsrouting/js/router.js'
                    filter='?yui_js'
                %}
                    <script src="{{ asset_url }}"></script>
                {% endjavascripts %}
                
                <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
                <script>$(document).foundation();</script>
                
            {% endblock %}
            
        {% endblock %}
    </body>
</html>