{% extends 'NonchanCoreBundle:Default:base.html.twig' %}

{% import 'NonchanCoreBundle:Macros:meta.html.twig' as meta %}

{% block meta_title -%}
    {{ meta.title('Board') }}
{%- endblock %}

{% block content %}
    
    <div class="row">
        <div class="large-12 column" id="board-container">
        </div>
    </div>
    
{% endblock %}

{% block javascripts %}
    
    {{ parent() }}
    
    <script data-main="js/app/board" src="{{ asset('js/require.js') }}"></script>
    
{% endblock %}